h1,
h2,
h3,
p,
a {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

.first-img {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  color: #6070ff;
  text-decoration: none;
  font-size: 30px;
  margin: 3% 0% 0% 3%;
}

.button {
  margin: 5%;
}

.container {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0%;
}

.fa-solid {
  color: #6070ff;
  font-size: 2rem;
  margin: 5%;
}

/* section 2 */

.section-2 {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.paragraph {
  margin: 30% auto;
  text-align: left;
}

/* text  */

.first-text {
  width: 327px;
  color: #172b4d;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  margin-left: 30px;
}

.second-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 30px;
}

.connect-button {
  margin: 30% auto;
  color: #7f8cff;
  text-decoration: none;
  position: relative;
  left: 30px;
}

/* soial-buttong */
.social-buttons {
  text-align: left;
  margin-left: 30px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.emoji {
  font-size: 1.5rem;
  margin: 3px;
  color: #505f79;
  padding: 0 5px;
}

.emoji1 {
  padding-left: 0;
}

/* section 3 */

.section-3 {
  display: grid;
  vertical-align: bottom;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  width: 400px;
  height: 700px;
  margin: 60px 16px 16px 16px;
  background: #fff;
}

.work-img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 400px;
  height: 300px;
  order: 1;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 400px;
  height: 100px;
}

.project-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  order: 1;
  margin-top: 0%;
}

.Client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 55px;
  height: 32px;
  margin-top: 0;
}

.CANPOY {
  width: 55px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter {
  font-size: 16px;
  color: #c1c7d0;
  margin-left: 12px;
}

.Role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  height: 32px;
  margin-left: 12px;
}

.back-end {
  width: 88px;
  height: 16px;
  font-style: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  display: inline;
}

.information {
  margin-top: 20px;
}

.des-text {
  width: 350px;
  height: 76px;
  font: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin-top: 20px;
  margin-bottom: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  order: 2;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 40px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
}

.html {
  width: 29px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  text-decoration: none;
}

.tagj {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  background: #ebebff;
}

.action {
  width: 300px;
  height: 72px;
  order: 3;
}

.normal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #ffff;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.normal:hover {
  background-color: #5d8bf4;
  color: white;
}

.normal:active {
  background-color: #2d31fa;
}

.normal:disabled {
  background-color: #344563;
  color: #344563;
}

/* section 6 */

.img-holder {
  position: relative;
  padding-top: 114px;
  gap: 24px;
}

.about-my-self {
  width: 485px;
  position: absolute;
  z-index: -1;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 330px;
  height: 410px;
}

.self-text {
  width: 330;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 400px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.intro-text {
  width: 330;
  height: 144px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  color: #172b4d;
  margin-top: 0;
}

.social {
  order: 2;
  margin-left: 20px;
}

.f-normal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  order: 3;
  margin-left: 5px;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.f-normal:hover {
  background-color: #5d8bf4;
  color: white;
}

.f-normal:active {
  background-color: #2d31fa;
}

.f-normal:disabled {
  background-color: #344563;
  color: #344563;
}

.buttom-btn {
  color: #7f8cff;
  text-decoration: none;
  margin-left: 15px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 400px;
  height: 464.15px;
  order: 1;
  margin-top: 100px;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 330px;
  height: 320.15px;
}

.frame7 {
  width: 330px;
  height: 72px;
}

.normalization-btn {
  position: absolute;
  right: 26px;
  font-size: 1rem;
}

.lan {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.language-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  padding: 12px;
  gap: 12px;
  width: 330px;
  height: 248.15px;
}

.items-list {
  display: grid;
  vertical-align: bottom;
  row-gap: 15px;
}

.frame9 {
  width: 400px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  position: relative;
  left: 20px;
}

.javaS {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #253858;
  top: 8px;
}

.javaP {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
  top: 8px;
  border: 1px solid #ffff;
}

.frame-8 {
  order: 1;
  width: 330px;
  height: 72px;
}

/* contact-me */

.contact-me-img {
  position: absolute;
  width: 480px;
  height: 779px;
  z-index: -1;
  top: 5200px;
  margin-top: 30px;
}

.contact-shapes {
  position: absolute;
  z-index: 1;
  top: 30px;
  height: 800px;
  left: 222px;
}

.contact-text {
  position: absolute;
  top: 5370px;
  display: flex;
  margin-left: 120px;
}

.Contactme {
  position: absolute;
  width: 801px;
  height: 56px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}
.contactmepara {
  display: flex;
  position: absolute;
  width: 327px;
  height: 102px;
  margin-left: 80px;

  top: 5460px;
  text-align: center;
}
.contactme-p {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

/* contact form */

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5650px;
  margin-left: 30px;
}

.name-input {
  position: abosulte;
  height: 38px;
  width: 400px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: #000;
  padding: 10px;
}

.text-box {
  width: 400px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
}

.contact-btn {
  display: flex;
  top: 6010px;
  position: absolute;
  margin-left: 30px;
}
